/* Global */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#name{
    line-height: 4rem;
}

#description{
    padding-top: -10px ;
    line-height: 2rem;
    color:#BBBBBB;
}

#bloc-central{
    text-align: left;
    margin-top: 0.5rem;
    padding: 3rem;
    padding-top: 2rem;
    padding-right: 6rem;
    border: 0.05rem solid white;
    margin: 0;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Texte animé : bloc de texte principal */
.animated-text {
    transform-origin: left;
    transition: all 0.5s ease;
    cursor: pointer;
}

.animated-text:hover {
/*    transform: scale(1.1);*/
    font-size: 1.05em;
    filter: brightness(100%);
}
.darkened {
    transform: scale(0.9);
    filter: brightness(70%);
}


#social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

#social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

body.transitioning {
  overflow: hidden;
}


.hidden-page {
	position: absolute;
  top: 7.5%;
  left: 105vw;
  width: 70vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.61); /* Juste pour visualiser */
  color: white;

  border: 0.05rem solid white;
  
  padding: 25px 50px; /* top+bot, left+right*/
  
  /* texte */
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
}

/* Transitions */
/* Existing keyframes for reduceLeft */
@keyframes reduceLeft {
  0% {
      transform: translateX(0) scale(1);
  }
  100% {
      transform: translateX(-34vw) scale(0.5); /* Adjust as needed */
  }
}

/* Existing keyframes for shiftLeft */
@keyframes shiftLeft {
  0% {
      transform: translateX(0vw);
  }
  100% {
      transform: translateX(-85vw); /* Adjust as needed */
  }
}

/* New keyframes for reverse reduceLeft */
@keyframes reduceLeftReverse {
  0% {
      transform: translateX(-34vw) scale(0.5); /* Adjust as needed */
  }
  100% {
      transform: translateX(0) scale(1);
  }
}

/* New keyframes for reverse shiftLeft */
@keyframes shiftLeftReverse {
  0% {
      transform: translateX(-85vw); /* Adjust as needed */
  }
  100% {
      transform: translateX(0vw);
  }
}

/* Apply the animations */
.reduce-left {
  animation: reduceLeft 1s forwards;
  cursor: pointer;
}

.reduce-left-reverse {
  animation: reduceLeftReverse 1s forwards;
  cursor: default;
}

.shift-left {
  animation: shiftLeft 1s forwards;
}

.shift-left-reverse {
  animation: shiftLeftReverse 1s forwards;
}

.transition {
  transition: all 0.9s ease;
}

/* reduce-left animation */
#bloc-central.reduce-left {
  animation: reduceLeft 1s forwards;
}

/* Keyframes for reduceLeft */
@keyframes reduceLeft {
  0% {
      transform: translateX(0) scale(1);
  }
  100% {
      transform: translateX(-34vw) scale(0.5); /* Adjust as needed */
  }
}

.shift-left {
  animation: shiftLeft 1s forwards;
}

/* Keyframes for shiftLeft */
@keyframes shiftLeft {
  0% {
      transform: translateX(0vw);
  }
  100% {
      transform: translateX(-85vw); /* Adjust as needed */
  }
}


/* PORTFOLIO CONTAINER AND CONTENTS */
#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap between cards as needed */
}

.portfolio-card {
  border: 0.05rem solid white;
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 16px; /* Padding inside the card */
  width: 20vw; /* Width of the card */
  box-shadow: 0 4px 8px rgba(124, 123, 123, 0.1); /* Optional: Add a shadow for better visual effect */
  transition: transform 0.2s; /* Optional: Add a transition effect */
}

.portfolio-card:hover {
  transform: scale(1.05); /* Optional: Scale up the card on hover */
}

.portfolio-card h2 {
  margin-top: 0;
}

.portfolio-card p {
  margin-bottom: 0;
}

